<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

   <bean id="stu" class="com.auribises.Student"> 
       <property name="roll" value="101"/>
       <property name="name" value="Jennie"/>
   </bean> 
  
  <bean id="befAdv" class="com.auribises.BeforeAdvice"/>
  <bean id="aftAdv" class="com.auribises.AfterAdvice"/> 
  
  <bean id="stuProxy" class="org.springframework.aop.framework.ProxyFactoryBean"> 
       <property name="target" ref="stu"/>
       <property name="interceptorNames">
       	<list>
       		<value>befAdv</value>
       		<value>aftAdv</value>
       	</list>
       </property>
   </bean> 
  
 	
    		
</beans>